.team-container {
    padding: 20px;
    text-align: center;
}

.team-container h1 {
    font-size: 2em; 
    margin-bottom: 20px;
}

.team-container p {
    font-size: 1em; 
    margin-bottom: 20px; 
}

.team-member {
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto; 
}

.team-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-member h2 {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
}

.team-member h3 {
    font-size: 1.2em;
    margin: 5px 0 10px 0; 
    color: #777;
}

.team-member p {
    font-size: 1em;
    margin: 10px 0;
}


